<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3WDEv2lg_xblkSvILz_LKwwgp7l8lyQs</string>
	<key>GCM_SENDER_ID</key>
	<string>784319082297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sample-e-commerce-71f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-e-commerce-71f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784319082297:ios:111d0a6bc347bd214e42e8</string>
</dict>
</plist>